* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) ;
}
.header__nav{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
}
.container__1{
    width: 1113px;
    height: 100px;
}
.ul__header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 30px;
    height: 100px;
}
.ul__header li {
    cursor: pointer;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding: 10px 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.ul__header li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px; 
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
    z-index: 11;
}
.ul__header li:hover::after {
    transform: scaleX(1); /* Показываем линию при наведении */
}

/*main*/
 .hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}
.banner img {
    object-fit: cover;
    display: block;
}
.banner__text {
    max-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 900px;
}
.banner__text span {
    width: 175px;
    height: 6px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.banner__text h1{
    color: white;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 30px;
}
.banner__text button {
    background:#3b82f6;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500;
    color:white;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    transition: background 0.3s ease;
} 










/*.container {
    width: 1113px;
    position: relative;
}
.works__top {
    display: flex;
    justify-content: space-between;
    align-items:center;
    
}
.works__top h2 {
    color:white;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    width: 540px;
    height: 88px;
    font-family: Montserrat;
    flex-wrap: wrap;
}
.works {
    display: flex;
    padding-top: 100px;
    background: #5F12D0;
    justify-content: center;
    padding-bottom: 250px;

}
.works__top button {
    width: 200px;
    height: 45px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat;
    text-align: center;
    background: #4985FF;
    border-radius: 30px;
    border: none;
    
}
.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 250px;
    left: 0;
    z-index: 10;
}

.card {
    width: 350px;
    background: white;
    border-radius: 10px;
}
.card img {
    width: 350px;
    height: 300px;
    border-radius: 10px;
}
.card h3 {
    color: black;
    font-weight: 600;
    font-size: 18px; 
    margin: 30px 0;
}
.card span {
    color:#4985FF;
    font-weight: 600;
    font-size: 18px;
}
.card p {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
    margin-bottom: 30px;
}
.card a {
    color: #4985FF;
    text-decoration: underline;
}

/* main projects */
/* /* .container__second {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.projects {
    padding: 450px 0 100px 0;
    background: #F6F6F8;
}
.our__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center  ;
}
.our__projects h2 {  
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}
.our__projects p {
    max-width: 730px;
    color: #999999;
    margin-bottom: 30px;
}
.project__card {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
    height: auto ;
    margin-bottom: 50px;
}
.project__card img {
    /* При ширине контейнера 1100px, 4 картинки по 255px + gap 30px 
       как раз идеально помещаются в ряд (255*4 + 30*3 = 1110px) */
    /* width: 255px;
    height: 255px; */ 
    /* border-radius: 10px;
    object-fit: cover;
}

.project__card img {
    width: 255px;
    height: 255px;
    border-radius: 10px;
    object-fit: cover;
}
.our__projects button {
    width: 200px;
    height: 45px;
    text-align: center;
    border-radius: 30px;
    background-color: #4985FF;
    color:#FFFFFF;
    border: none;
} */ 